/* @font-face {
  font-family: 'IBM Plex mono';
  src: url(./IBMPlexMono-Regular.woff) format('woff');
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IBM Plex mono';
  src: url(./IBMPlexMono-Bold.woff) format('woff');
  font-weight: bold;
  font-display: swap;
} */

@font-face {
  font-family: 'IBM Plex Mono';
  src: url('./IBMPlexMono-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IBM Plex Mono';
  src: url('./IBMPlexMono-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
