/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */

  --bg-color: #fff1f7;
  --bg-image: url('../images/cover-image-light.png');

  --text-color: #353430;
  --main-title-color: #ffc2e6;
  --accent-color: #ff8dcb;

  --decor-color: var(--text-color);
  --title-decor-bg: var(--accent-color);
  --title-decor-text-color: #353430;

  --button-color: #353430;
  --button-hover-color: rgb(50 49 45 / 40%);
}

/* В светлой теме REC не будет видно */
:root.theme-light .header__rec-design {
  display: none;
}


/* Авто-тема */
@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #fff1f7;
    --bg-image: url('../images/cover-image-light.png');

    --text-color: #353430;
    --main-title-color: #ffc2e6;
    --accent-color: #ff8dcb;

    --decor-color: var(--text-color);
    --title-decor-bg: var(--accent-color);
    --title-decor-text-color: #353430;

    --button-color: #353430;
    --button-hover-color: rgb(50 49 45 / 40%);
  }
  /* В светлой теме REC не будет видно */
  :root .header__rec-design {
    display: none;
  }
}