/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  font-family: var(--font-family-main);
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.header {
  position: relative;

  /* высота в окно браузера */
  block-size: 100dvh;
  min-block-size: 668px;

  padding-inline: var(--page-padding);
  padding-block-start: var(--header-padding-top);
  padding-block-end: var(--header-padding-bottom);

  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-items: start;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  inline-size: var(--corner-size);
  block-size: var(--corner-size);
}

.decorated-zone::before {
  inset-inline-start: var(--page-padding);
  inset-block-end: var(--page-padding);
  border-inline-start: 1px solid var(--decor-color);
  border-block-end: 1px solid var(--decor-color);
}

.decorated-zone::after {
  inset-inline-end: var(--page-padding);
  inset-block-start: var(--page-padding);
  border-inline-end: 1px solid var(--decor-color);
  border-block-start: 1px solid var(--decor-color);
}

.header__theme-menu {
  justify-self: end;
  align-self: start;
}

.header__rec-design {
  position: absolute;
  inset-block-start: var(--page-padding);
  inset-inline-end: calc(var(--page-padding) + 9px);

  color: var(--accent-color);
  font-size: 18px;
  line-height: 1.39;
  text-transform: uppercase;

  display: flex;
  align-items: center;
  gap: 10px;
}

.header__rec-design::after {
  content: "";
  display: inline-block;
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  appearance: none;
  background-color: transparent;
  border: 1px solid transparent;

  padding-block-start: 2px;
  padding-block-end: 5px;
  padding-inline: 13px;

  color: var(--button-color);
  font-family: inherit;
  font-size: 18px;
  line-height: 1;
  text-transform: lowercase;

  cursor: pointer;
}

@media (hover: hover) {
  .header__theme-menu-button:hover {
    border-color: var(--button-hover-color);
  }
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-color: transparent;
  border-block-end-color: var(--button-color);
}

.header__theme-menu-button_active {
  border-color: var(--button-color);
  pointer-events: none;
}

.header__title {
  color: var(--main-title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 0.83;
  font-weight: 700;
  align-self: center;
}

.header__subtitle {
  justify-self: end;
  align-self: end;
  max-inline-size: 355px;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.3;
}

.title-decor {
  background-color: var(--title-decor-bg);
  color: var(--title-decor-text-color);
}

.main {
  margin-block: var(--content-block-gap);
  margin-inline: var(--content-inline-offset);
}

.content-section + .content-section {
  margin-block-start: var(--section-block-gap);
}

.content-section {
  display: grid;
  gap: var(--section-gap);
}

.content-section__title {
  color: var(--text-color);
  font-size: var(--body-text-size);
  line-height: var(--body-text-line);
  font-weight: 700;
}

.content-section__subtitle {
  font-size: var(--body-text-size);
  line-height: var(--body-text-line);
  font-weight: 700;
}

.content-section__body {
  display: grid;
  gap: var(--card-gap);
}

.content-card {
  display: grid;
  gap: 10px;
}

.content-card__title {
  font-size: var(--body-text-size);
  line-height: var(--body-text-line);
  font-weight: 700;
}

.content-card__title_thin {
  font-weight: 400;
}

.content-card__text {
  color: var(--text-color);
  font-size: var(--body-text-size);
  line-height: var(--body-text-line);
}

.content-link {
  color: currentColor;
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

@media (hover: hover) {
  .content-link:hover {
    border-block-end: 1px solid currentColor;
  }
}

.content-link:focus-visible {
  outline: none;
  border: 1px solid currentColor;
}


.content-section__list {
  list-style: none;
  padding: 0;
  margin: 0;

  display: grid;
  gap: var(--card-gap);
}

.content-section__item {
  margin: 0;
}




.content-section_type_gallery {
  display: grid;
  gap: var(--gallery-gap);
}

.content-section_type_gallery .gallery__image {
  display: block;
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

/* Телефон: просто колонка, картинки идут вертикально */
@media (width < 768px) {
  .content-section_type_gallery {
    grid-template-columns: 1fr;
    grid-template-areas:
      "title"
      "sunset"
      "ice"
      "tape"
      "books"
      "street";
  }

  .content-section_type_gallery .content-section__title { 
    grid-area: title;
  }

  .gallery__image_type_sunset { 
    grid-area: sunset;
  }

  .gallery__image_type_ice-cream {
    grid-area: ice;
  }

  .gallery__image_type_tape { 
    grid-area: tape;
  }

  .gallery__image_type_books {
    grid-area: books;
  }

  .gallery__image_type_street {
    grid-area: street;
  }
}

/* Планшет/десктоп: мозаика*/
@media (width >= 768px) {
  .content-section_type_gallery {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;

    grid-template-areas:
      "title  title  title"
      "sunset sunset ice"
      "tape   books  ice"
      "tape   street street";
  }

  .content-section_type_gallery .content-section__title{
    grid-area: title; 
  }

  .gallery__image_type_sunset {
    grid-area: sunset;
  }

  .gallery__image_type_ice-cream {
    grid-area: ice;
  }

  .gallery__image_type_tape {
    grid-area: tape;
  }

  .gallery__image_type_books {
    grid-area: books;
  }

  .gallery__image_type_street {
    grid-area: street;
  }
}



.footer {
  position: relative;

  block-size: 100dvh;
  min-block-size: 668px;

  padding-inline: var(--page-padding);
  padding-block: var(--page-padding);

  display: grid;
  place-items: center;
}

.footer__title {
  color: var(--main-title-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  line-height: 1;
  text-shadow: 4px 4px 0 var(--accent-color);
}


@media (width >= 768px) {
  .header__subtitle {
    max-inline-size: 364px;
  }
}

@media (width >= 1024px) {
  .header__subtitle {
    max-inline-size: 491px;
  }
}