/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --bg-color: #000028;
  --bg-image: url('../images/cover-image-dark.png');
  --font-family-main: 'IBM Plex Mono', monospace;

  --main-title-color: #db00ff;

  --text-color: #f1b2ce;
  --accent-color: #ff0070;

  --decor-color: var(--accent-color);
  --title-decor-bg: var(--accent-color);
  --title-decor-text-color: #000028;

  --page-padding: 10px;
  --corner-size: 25px;

  /* --header-padding-inline: 10px; */
  --header-padding-top: 75px;
  --header-padding-bottom: 66px;

  --button-color: var(--accent-color);
  --button-hover-color: rgb(255 0 112 / 40%);
}
