/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --bg-color: #000028;
  --bg-image: url('../images/cover-image-dark.png');

  --text-color: #f1b2ce;
  --main-title-color: #db00ff;
  --accent-color: #ff0070;

  --decor-color: var(--accent-color);
  --title-decor-bg: var(--accent-color);
  --title-decor-text-color: #000028;

  --font-family-main: 'IBM Plex Mono', monospace;
  --body-text-size: 18px;
  --body-text-line: 1.3;

  /* Заголовок в шапке и футере МОБИЛЬНЫЙ*/
  --the-biggest-title-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);

  --page-padding: 10px;
    
  --header-padding-top: 75px;
  --header-padding-bottom: 66px;

  --content-inline-offset: 10px;
  --content-block-gap: 40px;
  --section-block-gap: 50px;

  --section-gap: 20px;
  --card-gap: 20px;

  --gallery-gap: 10px;

  --section-title-max: 100%;
  --section-columns-gap: 0px;

  --corner-size: 25px;

  --button-color: var(--accent-color);
  --button-hover-color: rgb(255 0 112 / 40%);

}

@media (width >= 768px) {
  :root {
    --page-padding: 20px;

    --content-inline-offset: 20px;
    --content-block-gap: 60px;
    --section-block-gap: 80px;

    --section-title-max: 236px;
    --section-columns-gap: 20px;

    --gallery-gap: 20px;

    --the-biggest-title-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    --header-padding-top: 192px;
    --header-padding-bottom: 183px;
  }
}

@media (width >= 1024px) {
  :root {
    --section-title-max: 315px;
    --header-padding-top: 20px;
    --header-padding-bottom: 134px;
    --the-biggest-title-size: 157px;
  }
}