/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --bg-color: #000028;
  --bg-image: url('../images/cover-image-dark.png');

  --text-color: #f1b2ce;
  --main-title-color: #db00ff;
  --accent-color: #ff0070;

  --decor-color: var(--accent-color);
  --title-decor-bg: var(--accent-color);
  --title-decor-text-color: #000028;

  --font-family-main: 'IBM Plex Mono', monospace;

  --page-padding: 10px;
    
  --header-padding-top: 75px;
  --header-padding-bottom: 66px;

  --content-inline-offset: 10px;
  --content-block-gap: 60px;
  --section-block-gap: 50px;
 
  --corner-size: 25px;

  --button-color: var(--accent-color);
  --button-hover-color: rgb(255 0 112 / 40%);
}

@media (width >= 768px) {
  :root {
    --page-padding: 20px;
    --section-block-gap: 80px;
    --content-inline-offset: 20px;
  }
}
